<div class="row justify-content-center login">
    <div class="col-4">
        <div class="primary-bg">
            <div style="text-align: center;margin-bottom: 10px;">
                <img src="assets/logo-small.jpg" style="width: 100px;height: 70px;" />
            </div>
            <form>
                <div>
                    <label for="basic-url">Email</label>
                    <input type="text" id="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email">
                </div>
                <div style="margin-top:10px;">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
                </div>
                <div style="text-align: center;margin-top:20px;">
                    <button class="btn btn-info" [disabled]="!email || !password" (click)="login()">Login</button>
                </div>
            </form>

        </div>
    </div>
</div>